*{
    margin: 0;
    padding: 0;
}

body{

    
}
.Navbar{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 80px;
    
}

.Navbar p{
    font-size: 40px;
    margin: 20px 10px 10px 30px;
    color: white;
}

.Navbar a{
    text-decoration: none;
    color: rgb(192, 34, 34);
    margin: 30px 25px 0px 25px ;
    font-size: 20px;
}


.background{
    position: absolute; 
    height: 100%; 
    width: 100%; 
    background-image: url("quinton-coetzee-u-n1AFjUclo-unsplash.jpg");
    background-size: cover;
    background-position: center;
   
}

.start{
    text-align: center;
}

.start p{
    margin-top: 20px;
    margin-bottom: 50px;
    position: sticky;
    font-size: 40px;
    color: #FFFDD0;
}

.start h1{
   
    position: relative;
    font-size: 50px;
    margin-top: 60px;
    color: rgb(255, 255, 255);
    font-family:"Georgia", sans-serif ;
    

}
